.form-wrapper {
  width: 20%;
  border: solid 1px #d9d9d9;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

.form-container {
  width: 90%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  margin-top: 4em;
}

.login-form-button {
  width: 100%;
}

.container {
  padding-top: 10%;
  background: url(../../assets/images/background.jpg);
  background-size: cover;           
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
}