// body > div > div > div.ant-modal-mask  {
//   background-color: rgba(79, 79, 79, 0.58);
// }
body > div > div > div.modal-preview {
  > div.ant-modal {
    height: 1000px;

    > div.ant-modal-content {
      width: 100%;
      height: 670px;
      margin-top: -170px;

      > button > span.ant-modal-close-x {
        width: 30px;
        height: 30px;
        line-height: 30px;
      }

      > div.ant-modal-header {
        height: 86px;
        padding: 0 28px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-bottom-color: rgba(41, 62, 57, 0.45);
        > div.ant-modal-title {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          div.boxItem {
            display: flex;
            flex-direction: column;

            > div.title {
              font-style: normal;
              font-weight: normal !important;
              font-size: 20px;
              color: #333333;
            }
            > div.boxStatus {
              font-size: 24px;
            }
            > div.boxContacts {
              border-radius: 4px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 0 12px;
              > span {
                font-weight: 600;
                font-size: 15px;
                margin-top: 2px;
              }
            }
            > div.defaultContent {
              font-size: 13px;
              color: #333;
            }
          }
          div.pr30 {
            padding-right: 30px;
            border-right: 1px solid #E0E0E0;
          }
          div.ml12 {
            margin-left: 12px;
          }
        }
      }
      > div.ant-modal-body {
        padding: 12px 30px 30px 30px;
        user-select: none;
        > .content {
          width: 100%;
          height: calc(600px - 86px - 30px - 12px - 100px);
          > div.ant-row {
            margin-bottom: 16px;
            > div.ant-col {
              > .label {
                font-size: 16px;
                font-weight: 600;
                color: #000;
              }
              > .content-label {
                font-size: 16px;
                font-weight: 600;
                color: #000;
              }
            }
          }
          > div.title {
            font-weight: 600;
            font-size: 20px;
            color: #000;
            margin-bottom: 16px;
            div.content {
              font-weight: 600;
              font-size: 20px;
              color: #000;
              margin-bottom: 16px;
            }
          }
          > div.dataOfPost {
            // text-align: justify;
            height: calc(300px - 86px - 30px - 12px - 36px - 16px);
            overflow: auto;
            padding-right: 20px;
          }
          > div.footerCustom {
            margin-top: 100px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            > button.btn-lockandunlock {
              width: 218px;
              height: 36px;
              > span {
                font-size: 14px;
                color: #fff;
                font-style: normal;
                font-weight: normal;
              }
              margin-right: 19px;
            }
          }
        }
        > .plapla {
          @width: calc(960px + 100px);
          @height: calc(667px);
          position: fixed;
          top: calc((100vh - @height - 24px) / 2);
          right: 0;
          bottom: 0;
          left: calc((100vw - @width) / 2);
          width: @width;
          height: @height;
          // background-color: rgba(0, 0, 0, .3);
          z-index: -1;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}