.ant-comment-avatar {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    width: 90px;
    height: 90px;
}

.ant-comment-avatar img {
    /* width: 32px; */
    height: 90px;
    border-radius: 0;
}

.ant-comment-inner {
    padding-bottom: 14px;
}

/* .ant-avatar{
    width: 100%;
    height: 90px;
    border-radius: 0px !important;
} */

.ant-comment-avatar img {
    width: 100%;
    border-radius: 0;
}

.ant-collapse-item {
    background: #e6f7ff !important;
}

.ant-collapse-header{
    font-size: 25px ;
}