div.ant-row.shop-info {
  >div.ant-col-7 {
    >span.ant-avatar-square {
      width: 100px;
      height: 100px;
    }
  }

  >div.ant-col-17 {
    >div.ant-row {
      >div.ant-col-24 {
        >div.shop-name {
          font-weight: bold;
          font-size: 20px;
        }

        >div.shop-address {
          font-weight: bold;
        }

        >div.shop-email {
          font-weight: bold;
          
          >span {
            color: rgb(74, 191, 169);
          }
        }

        >div.shop-phoneNumber {
          font-weight: bold;

          >span {
            color: rgb(74, 191, 169);
          }
        }
      }
    }
  }
}