.ag-center-cols-viewport {
    width: 100%;
    overflow-x: hidden;
}

.ag-root ::-webkit-scrollbar {
    width: 8px;
  }
.ag-root ::-webkit-scrollbar-thumb {
background: #babdc2;
border-radius: 3px;
}
.ag-root ::-webkit-scrollbar-track {
background: #f1f1f1; 
}

.ag-root {
overflow-y: hidden;
}
