.menu-collapse {
  overflow-y: auto;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 85%;
}

::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3b1b1; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}